*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    max-width: 1920px;
}

.centralizar{
    margin: 0px auto;
    max-width: 900px;
    text-align: center;
    width: 100%;
}

/*navbar*/

/* Cor do popover */
#popoverCompartilhar .btn-outline-primary,
#popoverCompartilhar .btn-outline-info,
#popoverCompartilhar .btn-outline-danger {
    color: #495057; /* Cor do texto */
    border-color: #495057; /* Cor da borda */
    background-color: transparent; /* Cor de fundo */
}

/* Hover */
#popoverCompartilhar .btn-outline-primary:hover,
#popoverCompartilhar .btn-outline-info:hover,
#popoverCompartilhar .btn-outline-danger:hover {
    color: #495057; /* Cor do texto no hover */
    border-color: #198754; /* Cor da borda no hover */
    background-color: #2ecc71; /* Cor de fundo no hover */
}


/*Carrossel*/

/* Estilos para dispositivos móveis */
@media (max-width: 576px) {
    .container-carrosel .conteudo-carrosel {
        font-size: 18px; /* Define o tamanho do h2 para dispositivos móveis */
    }

    .container-carrosel .carousel-caption h5 {
        font-size: 14px; /* Define o tamanho do h5 para dispositivos móveis */
    }

    .container-carrosel .carousel-caption a.btn {
        font-size: 12px; /* Define o tamanho do link (a) para dispositivos móveis */
        padding: 5px 15px; /* Ajusta o padding do botão para dispositivos móveis */
    }
}

/* botao segundo slide */

a .botao{
  padding: 5px 50px;
}

.container-carrosel{
    margin-bottom: 30px;
}

.imagem-carrosel{
    max-height: 100vh;
}

.carousel-caption h2{
    font-size: 300%;
    color: #fff;
    font-family: 'Fraunces', serif;
}

.carousel-caption{
    position: absolute;
    top: 45%;
    margin-top: -25px ;
    opacity: 0; /* Começa com opacidade 0 */
    transition: opacity 0.5s ease; /* Transição suave de opacidade */
    transition-delay: 0.3s; /* Atraso de 1 segundo antes que a transição comece */
}

.carousel-item.active .carousel-caption {
    opacity: 1; /* Opacidade 1 quando o slide está ativo */
}

.carousel-caption h5{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: bold;
}

.carousel-caption a{
    padding: 5px 40px;
    color: black;
}

.carrosel{
    margin-bottom: 35px;
    position: relative;
    width: 100%;
    text-align: center;
}


h3{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #c4a47c;
    margin: 30px ;
    text-align: center;
}

p{
    font-family: 'Lato', sans-serif;
    line-height: 34px;
    font-size: 16px;
    width: 100%;
}


/*FAIXA BACKGROUND*/

/*FAIXA BACKGROUND*/

.faixa {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fixa o plano de fundo */
  background-repeat: no-repeat;
  height: 40vh;
  margin: 20px 0px;
}

.conteudo-faixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Alterada a altura para 100% para ocupar toda a altura da faixa */
  color: white;
  opacity: 0; /* Altere a opacidade para 0 inicialmente para ocultar o texto */
  transition: opacity 0.5s ease; /* Transição de opacidade mais simples */
  text-align: center;
  position: relative; /* Adicionada posição relativa */
  z-index: 1; /* Adicionada z-index maior para garantir que fique acima das imagens */
}

/* Adiciona a classe 'in-view' quando a faixa está visível na tela */
.faixa.in-view .conteudo-faixa {
    opacity: 1; /* Mostra o conteúdo com desvanecimento suave */
}



.conteudo-faixa i {
    background-color: #604829;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.container-baixo{
    background-image: url(Imagens/faixa-2.jpeg);
}

.container-topo{
    background-image: url(Imagens/faixa-1.png);
}


.imagem-1{
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
    width: 70%;
}

.fundo{
    margin: 20px 0px ;
    background-color: #604829;
    padding: 10px 0px 30px 0px;
}

.fundo p{
    margin: auto;
    color: #fff;
    width: 100%;
    max-width: 900px;
}

footer{
    background-color: #604829;
}

.links{
    font-size: 15px;
}

.links li{
    margin: 10px 0px;
    font-weight: bold;
}

.links2{
    font-size: 15px;
    margin: 35px 0px
}

.links2 li{
    margin: 10px 0px;
    font-weight: bold;
}

.grafico{
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
}

.container-grafico{
    margin-top: 20px;
    text-align: center;
    
}
