body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.quiz-container {
  max-width: 400px; /* Reduzindo a largura máxima */
  margin: 50px auto;
  padding: 10px; /* Reduzindo o espaçamento interno */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quiz-title {
  text-align: center;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

button.submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
